version: "3"

services:
  server:
    build: ./server
    ports: 
      - "8080:8080"
    container_name: name-application-server
  
  client:
    build: ./client
    ports: 
      - "3001:3000"
    container_name: name-application-client
